[package]
name = "diffsol"
version = "0.4.0"
edition = "2021"
description = "A library for solving ordinary differential equations (ODEs) in Rust."
license = "MIT"
authors = ["Martin Robinson <martinjrobins@gmail.com>"]
repository = "https://github.com/martinjrobins/diffsol"


# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = ["nalgebra", "faer", "diffsl"]
faer = []
nalgebra = []
sundials = ["suitesparse_sys", "bindgen", "cc"]
suitesparse = ["suitesparse_sys"]
diffsl = ["dep:diffsl"]
diffsl-llvm = []
diffsl-llvm13 = ["diffsl/llvm13-0", "diffsl", "diffsl-llvm"]
diffsl-llvm14 = ["diffsl/llvm14-0", "diffsl", "diffsl-llvm"]
diffsl-llvm15 = ["diffsl/llvm15-0", "diffsl", "diffsl-llvm"]
diffsl-llvm16 = ["diffsl/llvm16-0", "diffsl", "diffsl-llvm"]
diffsl-llvm17 = ["diffsl/llvm17-0", "diffsl", "diffsl-llvm"]

[dependencies]
nalgebra = "0.33.2"
nalgebra-sparse = { version = "0.10", features = ["io"] }
num-traits = "0.2.17"
serde = { version = "1.0.215", features = ["derive"] }
diffsl = { package = "diffsl", version = "0.2.2", optional = true }
petgraph = "0.6.4"
faer = "0.19.4"
suitesparse_sys = { version = "0.1.3", optional = true }
thiserror = "2.0.3"

[dev-dependencies]
insta = { version = "1.41.1", features = ["yaml"] }
criterion = { version = "0.5.1" }
skeptic = "0.13.7"

[build-dependencies]
bindgen = { version = "0.70.1", optional = true }
cc = { version = "1.2.0", optional = true }

[[bench]]
name = "ode_solvers"
harness = false

[package.metadata.docs.rs]
features = ["diffsl-llvm15"]
cargo-args = ["-Zunstable-options", "-Zrustdoc-scrape-examples"]

[profile.profiling]
inherits = "release"
debug = true
