[workspace]
members = [
  "diffsol",
  "examples/*",
]
exclude = [
  "book",
]
resolver = "2"

[workspace.package]
edition = "2021"
license = "MIT"
authors = ["Martin Robinson <martinjrobins@gmail.com>"]
repository = "https://github.com/martinjrobins/diffsol"

[workspace.dependencies]
nalgebra = "0.33.2"
faer = "0.21.7"

plotly = { version = "0.12.1" }
argmin = { version = "0.10.0" }
argmin-math = { version = "0.4" }
argmin-observer-slog = { version = "0.1.0" }

[profile.profiling]
inherits = "release"
debug = true

[patch.crates-io]
burn = { path="../burn/crates/burn" }
burn-import = { path="../burn/crates/burn-import" }

